@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Montserrat:wght@100&family=Raleway:wght@300&family=Roboto+Slab&display=swap');
*{
    padding:0%;
    margin:0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

html,body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100vw;
    display: absolute;
    overflow-x:hidden;
}

/*#cursor {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    background: var(--purple);
    pointer-events: none;
    mix-blend-mode: difference;
    transition: transform .5s;
    z-index: 99;
  }
*/

.page1{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.phone{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 200px;


}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 200px;

}

header.sticky{
    padding: 5px 100px;
    background: gray;
}



header .home{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    font-weight: 700;
    color: rgb(19, 16, 16);
    text-decoration: none;
    font-size:  2em;
    text-transform:uppercase;
    visibility: hidden;
    letter-spacing: 2px;
    transition: 0.1s;
}




header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: rgb(14, 12, 12);letter-spacing: 2px;
    font-weight: 700;
    font-size:  1.5em;
    transition: 0.6s;

}

.gauche{
    background-color: rgb(19, 19, 19);
    height: 100vh;
    width: 35%;
}

.titre{
    height: 10vh;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 60;
    font-size: 205%;
    color: whitesmoke;
}

.droit{
    height: 100vh;
    width: 65%;
    
    background: url(photo1.jpg) no-repeat center / cover;
    background-size: cover ;
    background-repeat: no-repeat;
}


.centre{
    padding-top: 65vh;
    margin-left: -35px;
    position: absolute;
    top:0;
    left: 25%;
}

.my{
    color: aliceblue;
    font-family: 'Roboto Slab', serif;
    font-size: 150%;
    text-transform: uppercase;
}

.prenom{
    color: aliceblue;
    font-family: 'Roboto Slab', serif;
    font-size: 250%;
    text-transform: uppercase;
}


.metier{
    background-color: yellow;
    font-family: 'Josefin Sans', sans-serif;;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding:20px 30px;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 500;
    width: fit-content;
    height: 10vh;
    border-radius: 10px;
}

/*
.nav-list{
    display: flex;
    height: 10vh;
    background-color: rgb(136, 134, 134);
    justify-content: center;
    align-items: center;
}

.nav-elem{
    margin-right: 1rem;
    text-transform: uppercase;
    font-weight: 200;
}

.nav-elem a {
    color :white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 200;
    transition: 0.5s;
    /*color: rgb(0, 0, 0);
    letter-spacing: 1.1px;
}*/
/*
.nav-elem:hover a{
    color:#0002;
}

.nav-elem a::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: rgba(0,0,0,0.1);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 200px;
    transition: letter-spacing 0.5s, left 0.5s;

}

.nav-elem a:hover::before{
    content:attr(data-text);
    opacity: 1;
    left: 50%;
    letter-spacing: 10px;
    width: 1800px;
    height: 1800px;
}

.nav-elem:nth-child(6n+1) a::before{
    background-color: #4158D0;
    background-image: linear-gradient(43deg,#4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.nav-elem:nth-child(6n+2) a:before{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.nav-elem:nth-child(6n+3) a:before{
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.nav-elem:nth-child(6n+4) a:before{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.nav-elem:nth-child(6n+5) a:before{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg,#FBAB7E 0%, #F7CE68 100%);
}

.nav-elem:nth-child(6n+6) a:before{
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
}*/


@media screen and (max-width: 1023px) and (min-width:768px){
    .page1{
        background-color:  rgb(19, 19, 19);
    }
    .titre{
        font-size: 10vw;
        text-align: left;
    }

    .normal{
        display: none;
    }
  
    
    .phone {
        /*background-color: rgb(19, 19, 19);*/
        height: 100vh;
        overflow: hidden;
        position: absolute;
        top: 0px;
        width: 100vw;
      }
     
      .menu {
        align-items: center;
        /*background-color: rgb(19, 19, 19);*/
        clip-path: polygon(81.05% 9.1%, 92% 9.1%, 92% 10.1%, 81.05% 10.1%);
        color: #1a1717;
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        font-size: 3rem;
        height: 100%;
        position: fixed;
        top: 0;
        transition: clip-path 400ms cubic-bezier(0.4, 0, 0.2, 1),
          background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
        justify-content: flex-start;
      }
      .menu.sticky{
        background: none;
        
    }
      .active .menu {
        background-color: yellow;
        clip-path: polygon(101% -1%, 101% 101%, -1% 101%, -1% -1%);
      }
      .options {
        align-items: center;
        display: flex;
        flex-direction: column;
        color: #121312;
        margin-top: 60px;
        transform: scale(0.8);
        transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .option {
        cursor: pointer;
        margin: 17px 0;
        color:black;
      }
      .option.selected {
        color: #121312;
      }
      .active .options {
        transform: scale(1);
      }
      .x {
        pointer-events: none;
        position: fixed;
        top: 0;
        right: 0.2px;
      }
      .top-bars {
        stroke: #bdc915;
        transition: stroke 400ms cubic-bezier(0.4, 0, 0.2, 1);
        position: fixed;
        right: 0px;
        top: 10px;
      }
      .active .top-bars {
        stroke: rgb(19, 19, 19);
      }
      .bar {
        transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .bar1 {
        transform-origin: 190px 20.5px;
        position: fixed;
        right: 10px;
        top: 10px;
      }
      .bar2 {
        transform-origin: 190px 28.5px;
        position: fixed;
        right: 10px;
        top: 10px;
      }
      .active .bar1 {
        transform: translateY(8.6px) rotate(45deg);
      }
      .active .bar2 {
        transform: rotate(-45deg);
      }
      .menu-click-area {
        cursor: pointer;
        height: 10vh;
        opacity: 0.3;
        position: fixed;
        right: 10px;
        top: 10px;
        width: 25vw;
      }
      
    .droit{
        background-color: rgb(19, 19, 19);
    }
    
    .gauche{
        width: 100vw;
        height: 100vh;
    }

    

    .droit{
        display: none;
    }

    .centre{
        padding-top: 50vh;
        margin-left: -25vw;
        position: absolute;
        top:0;
        left: 25%;
    }
    .my{
        color: aliceblue;
        font-family: 'Roboto Slab', serif;
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    
    .prenom{
        color: aliceblue;
        font-family: 'Roboto Slab', serif;
        font-size: 2rem;
        text-transform: uppercase;
    }
    
    
    .metier{
        background-color: yellow;
        font-family: 'Josefin Sans', sans-serif;;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        padding: 10vw 3vh;
        display: inline-block;
        letter-spacing: 0.2rem;
        font-weight: 500;
        width: fit-content;
        height: 1rem;
        border-radius: 10px;
    }

    .nav-elem a{
        letter-spacing: 0.4px;
        text-size-adjust:80%;
    }

    .page2{
        padding-left: 50px;
        display: flex;
        flex-direction:column-reverse;
        width: 100%;
        height: 150%;
    }

    .part1{
        width: 60%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .container{
        /*margin-left: -40%;*/
        margin-top: 10%;
        height: 100%;
        width: 100%;
        background: url(photo2.jpg) no-repeat center / cover;
        border-radius: 1rem;
        box-shadow: -30px -10px  rgb(90, 90, 90);
    }
    
    .part2{
        width: 100%;
        align-items: center;
        justify-content: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        letter-spacing: 0.6px;
        padding-top: 20%;
        padding-left: -40px;
    }


    .page3{
        padding-top: 20%;
    }
    .tableau{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 40rem;
        width: 100vw;
        gap: 4rem;
        justify-content: space-between;
    }
    
    .tableau :first-child{
        flex: 45%;
    }
    .tableau :nth-child(2){
        flex: 45%;
    }
    .tableau :nth-child(3){
        flex: 45%;
    }
    
    .tableau :nth-child(4){
        flex: 45%;
    }
    .tableau :nth-child(5){
        flex: 45%;
    }
    .tableau :nth-child(6){
        flex: 45%;
    }

    .page4{
        width: 100vw;
        display: flex;

    }

    .contact{
        letter-spacing: 0.4px;
        text-size-adjust:50%;
    }
    
    
    
    
}

.page2{
    display: flex;
    height: 100vh;
    flex-direction: row;
    flex-wrap:wrap ;
    align-content: center;
    justify-content: center;
}

.part1{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.box{
    width: 50%;
    height: 50%;
    background-color: rgb(136, 134, 134);
    padding: 5px;
    margin-left: 40px;
}

.box p{
    color: rgb(136, 134, 134);
}*/
.container{
    /*margin-left: -40%;*/
    margin-top: 10%;
    height: 60%;
    width: 40%;
    background: url(photo2.jpg) no-repeat center / cover;
    border-radius: 1rem;
    box-shadow: -60px -40px  rgb(90, 90, 90);
}


.part2{
    width: 50vw;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 0.6px;
    padding-top: 20%;
    padding-left: -40px;
}

.about{
    position: absolute;
    margin-top: -100px;
}

.you{
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 100%;
    text-transform: uppercase;
}

.prenom1{
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 150%;
    text-transform: uppercase;
}

.bouton{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: absolute ;
    z-index: 99;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.page3{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.my_work{
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.my_work:first-child{
    color: black;
    font-family: 'Krona One', sans-serif;
    font-size: 150%;
    text-transform: uppercase;
}

.nav_b{
    display: flex;
    height: 10vh;
    width: 100vw;
    /*background-color: rgb(136, 134, 134);*/
    justify-content: center;
    align-items: center;
}
.nav-items{
    margin-right: 4rem;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-items a {
    color: rgb(0, 0, 0);
    letter-spacing: 1.1px;
}

.l_button{
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding:10px 20px;
    display: inline-block;
    align-items: center;
    letter-spacing: 1px;
    font-weight: 300;
    width: fit-content;
    height: 7vh;
    border-radius: 40px;
    box-shadow: 100px;
}


.tableau{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40rem;
    width: 80vw;
    gap: 4rem;
    justify-content: space-between;
}

.tableau :first-child{
    flex: 30%;
}
.tableau :nth-child(2){
    flex: 30%;
}
.tableau :nth-child(3){
    flex: 30%;
}

.tableau :nth-child(4){
    flex: 30%;
}
.tableau :nth-child(5){
    flex: 30%;
}
.tableau :nth-child(6){
    flex: 30%;
}
.tableau  >a{
    /*flex:0.1;*/
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
    box-shadow: 7px 2px 2px gray;
}
/*
.tableau >a:hover{
    flex: 30%;
}*/

/*.tableau{
    display: flex;
    margin-left: 100px;
    padding-top: 50px;
    padding-bottom: 20px;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.ligne1{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}


.ligne2{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}


.line-items{
    margin-right: 4rem;
    height: 20vh;
    width: 20vw;
    text-transform: uppercase;
    font-weight: 600;

}




.echs{
    background: url(echecs.jpg) no-repeat center / cover;
    height: 30VH;
    width: 30vw;

}*/

.l_button a{
    color: white;
}

.page4{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.page4 h1{
    align-items: center;
    justify-content: center;
    padding-left: 40%;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    text-transform: uppercase;
}
.comp{
    display: flex;
    justify-content: center;
}

.page4 .mes_competences{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(108, 107, 107);
    font-size: 1em;
    font-weight: 500;
    
}



.page4 .mes_competences span{
    width: 230px;
    margin: 15px 0;
    box-shadow:   9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
    padding: 10px 20px ;
    text-align: center;
    border-radius: 50px;
    border: 5px solid rgb(255, 248, 248);
    margin-right: 40px;

}



.page4 .mes_competences span:hover {
    box-shadow:  inset 9.91px 9.91px 15px #d9dade,
        inset -9.91px -9.91px 15px #ffffff;
        
}

.bar-container{
   /* padding-top:65px ;
    padding-bottom: 65px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

}

.bar{
    width: 400px;
    height: 20px;
    /*background-color: red;*/
    border-radius: 20px;
    box-shadow:   inset 6px 6px 5px #d9dade, inset -6px -6px 15px #dfdfdf;
}

.bar .progress{
    height: 100%;
    background: linear-gradient(rgb(255, 255, 3),#676532 );
    border-radius: 20px;
}

.bar:nth-child(1) .progress{
    
    width: 80%;
}
.bar:nth-child(2) .progress{
    
    width: 80%;
}
.bar:nth-child(3) .progress{
    
    width: 40%;
}

.bar:nth-child(4) .progress{
    
    width: 40%;
}
.bar:nth-child(5) .progress{
    
    width: 50%;
}
.bar:nth-child(6) .progress{
    
    width: 70%;
}



.page5{
    height: 40vh;
    width: 100vw;
    background-color:black ;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.page5 h1{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 0%;
    color: yellow;
    font-family: 'Roboto Slab', serif;
    font-size: 3em;
    text-transform: uppercase;
    
}
    

.mail{
    color: yellow;

}
#mail-link .mail:hover {
    color: rgb(255, 255, 255);
    transition: 0.4s;
}

.mail:hover{
    color: rgb(255, 255, 255);
    transition: 0.4s;
}


@media screen and (max-width: 767px){
    .page1{
        background-color:  rgb(19, 19, 19);
    }
    .titre{
        font-size: 10vw;
        text-align: left;
    }

    .normal{
        display: none;
    }
  
    
    .phone {
        /*background-color: rgb(19, 19, 19);*/
        height: 100vh;
        overflow: hidden;
        position: absolute;
        top: 0px;
        width: 100vw;
      }
     
      .menu {
        align-items: center;
        /*background-color: rgb(19, 19, 19);*/
        clip-path: polygon(81.05% 9.1%, 92% 9.1%, 92% 10.1%, 81.05% 10.1%);
        color: #1a1717;
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        font-size: 3rem;
        height: 100%;
        position: fixed;
        top: 0;
        transition: clip-path 400ms cubic-bezier(0.4, 0, 0.2, 1),
          background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
        justify-content: flex-start;
      }
      .menu.sticky{
        background: none;
        
    }
      .active .menu {
        background-color: yellow;
        clip-path: polygon(101% -1%, 101% 101%, -1% 101%, -1% -1%);
      }
      .options {
        align-items: center;
        display: flex;
        flex-direction: column;
        color: #121312;
        margin-top: 60px;
        transform: scale(0.8);
        transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .option {
        cursor: pointer;
        margin: 17px 0;
        color:black;
      }
      .option.selected {
        color: #121312;
      }
      .active .options {
        transform: scale(1);
      }
      .x {
        pointer-events: none;
        position: fixed;
        top: 0;
        right: 0.2px;
      }
      .top-bars {
        stroke: #bdc915;
        transition: stroke 400ms cubic-bezier(0.4, 0, 0.2, 1);
        position: fixed;
        right: 0px;
        top: 10px;
      }
      .active .top-bars {
        stroke: rgb(19, 19, 19);
      }
      .bar {
        transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .bar1 {
        transform-origin: 190px 20.5px;
        position: fixed;
        right: 10px;
        top: 10px;
      }
      .bar2 {
        transform-origin: 190px 28.5px;
        position: fixed;
        right: 10px;
        top: 10px;
      }
      .active .bar1 {
        transform: translateY(8.6px) rotate(45deg);
      }
      .active .bar2 {
        transform: rotate(-45deg);
      }
      .menu-click-area {
        cursor: pointer;
        height: 10vh;
        opacity: 0.3;
        position: fixed;
        right: 10px;
        top: 10px;
        width: 25vw;
      }
      
    .droit{
        background-color: rgb(19, 19, 19);
    }
    
    .gauche{
        width: 100vw;
        height: 100vh;
    }

    

    .droit{
        display: none;
    }

    .centre{
        padding-top: 50vh;
        margin-left: -25vw;
        position: absolute;
        top:0;
        left: 25%;
    }
    .my{
        color: aliceblue;
        font-family: 'Roboto Slab', serif;
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    
    .prenom{
        color: aliceblue;
        font-family: 'Roboto Slab', serif;
        font-size: 2rem;
        text-transform: uppercase;
    }
    
    
    .metier{
        background-color: yellow;
        font-family: 'Josefin Sans', sans-serif;;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        padding: 10vw 3vh;
        display: inline-block;
        letter-spacing: 0.2rem;
        font-weight: 500;
        width: fit-content;
        height: 1rem;
        border-radius: 10px;
    }

    .nav-elem a{
        letter-spacing: 0.4px;
        text-size-adjust:80%;
    }

    .page2{
        padding-top: 50px;
        padding-left: 50px;
        display: flex;
        flex-direction:column-reverse;
        width: 100%;
        height: 150%;
    }

    .part1{
        width: 60%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .container{
        /*margin-left: -40%;*/
        margin-top: 10%;
        height: 100%;
        width: 100%;
        background: url(photo2.jpg) no-repeat center / cover;
        border-radius: 1rem;
        box-shadow: -30px -10px  rgb(90, 90, 90);
    }
    
    .part2{
        width: 100%;
        align-items: center;
        justify-content: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        letter-spacing: 0.6px;
        padding-top: 20%;
        padding-left: -40px;
    }


    .page3{
        padding-top: 20%;
        height:300vh;
    }
    .tableau{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 80%;
        gap: 4rem;
        justify-content: center;
        align-items: stretch;
    }
    
    .tableau :first-child{
        flex: 100%;
    }
    .tableau :nth-child(2){
        flex: 100%;
    }
    .tableau :nth-child(3){
        flex: 100%;
    }
    
    .tableau :nth-child(4){
        flex: 100%;
    }
    .tableau :nth-child(5){
        flex: 100%;
    }
    .tableau :nth-child(6){
        flex: 80%;
    }

    .page4{
        height: 100vh;
        width:100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .comp{
        display: flex;
        justify-content: center;
        width:100vw;
    }
    
    .page4 h1{
        align-items: center;
        justify-content: center;
        padding-left: 0%;
        color: black;
        font-family: 'Roboto Slab', serif;
        font-size: 2em;
        text-transform: uppercase;
    }
    
    
    .page4 .mes_competences{
        width:50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: rgb(108, 107, 107);
        font-size: 1em;
        font-weight: 500;
        
    }
    
    
    
    .page4 .mes_competences span{
        width: 230px;
        margin: 15px 0;
        box-shadow:   9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
        padding: 10px 20px ;
        text-align: center;
        border-radius: 50px;
        border: 5px solid rgb(255, 248, 248);
        margin-right: 40px;
    
    }
    
    
    
    .page4 .mes_competences span:hover {
        box-shadow:  inset 9.91px 9.91px 15px #d9dade,
            inset -9.91px -9.91px 15px #ffffff;
            
    }
    
    .bar-container{
       /* padding-top:65px ;
        padding-bottom: 65px;*/
        width:50vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    
    }
    
    .bar{
        width: 11rem;
        height: 20px;
        /*background-color: red;*/
        border-radius: 20px;
        box-shadow:   inset 6px 6px 5px #d9dade, inset -6px -6px 15px #dfdfdf;
    }
    
    .bar .progress{
        height: 100%;
        background: linear-gradient(rgb(255, 255, 3),#676532 );
        border-radius: 20px;
    }
    
    .bar:nth-child(1) .progress{
        
        width: 80%;
    }
    .bar:nth-child(2) .progress{
        
        width: 80%;
    }
    .bar:nth-child(3) .progress{
        
        width: 40%;
    }
    
    .bar:nth-child(4) .progress{
        
        width: 40%;
    }
    .bar:nth-child(5) .progress{
        
        width: 50%;
    }
    .bar:nth-child(6) .progress{
        
        width: 70%;
    }
    

    .page5{
        align-items:center;
        justify-content:center;
        
    }
    .page5 h1{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 0%;
    color: yellow;
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    text-transform: uppercase;
    
}
    
    .contact{
        text-align:center;
        justify-content:center;
        letter-spacing: 0.4px;
        
    }
    
    
    
    
}

